/* Custom Modal */
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.691);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .custom-modal {
    background: linear-gradient(45deg, rgba(233, 228, 228, 0.677), rgba(69, 69, 228, 0.603));
    border-radius: 0px;
    width: 90%;
    max-width: 400px;
    padding: .5rem 1rem 2rem 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
  }
  
  .custom-modal-body {
    margin-top: 15px;
  }
  