.EmpcountCard {
    z-index: 2;
    overflow: hidden;
}

.EmpcountCardBG {
    height: 220px;
    /* background: linear-gradient(165deg, var(--basecolor), var(--basecolor)); */
    backdrop-filter: blur(5px);
    width: 100%;
    position: relative;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


.EmpcountCardBG-card-inner {
    translate: -100%;
    color: rgb(43, 47, 49);
    transition: 1s ease-in-out;
    backdrop-filter: blur(50px);
    z-index: 0;
}

.EmpcountCard:hover .EmpcountCardBG-card-inner {
    color: rgb(43, 47, 49);
    translate: 0%;
    transition: 1s ease-in-out;
    z-index: 1;
}


.EmpcountCard-title {
    color: white;
    font-weight: 400;
    padding: .5rem;
    gap: .5rem;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;
}