/* .react-calendar__tile--active {
    transition: .5s ease-in-out;
    background: #dc00ac;
    color: white;
    border-radius: 50px;
    box-sizing: -3px 3px 5px gray;
} */

/* 
.react-calendar__tile--now {
    background: #00dc25;
    color: white;
    border-radius: 50px;
    box-sizing: -3px 3px 5px gray;
} */

/* .react-calendar__navigation button {
    position: absolute;
    left: 0%;
    top: 0;
    height: 15%;
    width: 100%;
    min-width: 44px;
    background: rgb(10, 102, 177);
    color: white;
    font-weight: bolder;
} */

/* .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    font-weight: bolder;
    color: rgb(23, 33, 168);
    text-decoration: none
} */

.react-calendar {
    position: relative;
    padding: 1rem;
    background: transparent;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}

/* Add to leave.css or your stylesheet */
.modal-backdrop.show {
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  }
  
  .modal.show .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .modal-dialog {
    max-width: 600px; /* Adjust the width as needed */
  }
  
  .modal-content {
    border-radius: 0.5rem; /* Optional: adjust to your design */
  }
  